@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


header{
    background-color: black;
    padding: 60px;
    max-width: 100%;
    height: auto;
}

header > h1{
    font-family: Passion One;
    font-size: 8vw;
    color: white;
    text-align: center;
}

header > h2{
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 2vw;
    color: white;
    text-align: center;
}

nav > a{
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}
section.normal > p{
    font: normal 3vw sriracha;
    padding: 5vw;
}
section.imagem{
    font: normal 3vw sriracha;
    color: white;
    padding: 5vw;
    align-content: center;
    
    
}
section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.26);
    padding: 10px;
    max-height: ;
}

section#img-001{
    display: block;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    

}
section#img-002{
    display: block;
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
}
footer{
    font-size: 1.2vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.633);
    text-align: center;
}
footer > p > a{
    text-decoration: none;
    color: white;
}