@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


header{
    background-color: black;
    padding: 60px;
    max-width: 100%;
    height: auto;
}

header > h1{
    font-family: Passion One;
    font-size: 8vw;
    color: white;
    text-align: center;
}

header > h2{
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 2vw;
    color: white;
    text-align: center;
}

nav > a{
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

section{
    font-family: sriracha;
    font-size: 4em;
    padding: 60px;
}
.fonte-branca{
    color: white;
    background-color: rgba(0, 0, 0, 0.422);
    padding: 15px;
    max-width: 70vw;
    max-height: 100vh;
    width: fit-content;
    

}
#img-001{
   display: flex;
   background-attachment: fixed;
   background-position: right center;
   justify-content: left;
   align-items: center;
   padding: 0px 60px;
   margin: 60px -60px;
   background-image: url(imagens/background001.jpg);
   background-size: cover;
   max-width: 100%;
   height: 100vh;

}
#img-002{
    display: flex;
    background-attachment: fixed;
    background-position: right center;
   justify-content: left;
   align-items: center;
   padding: 0px 60px;
   margin: 60px -60px;
   background-image: url(imagens/background002.jpg);
   background-size: cover;
   max-width: 100%;
   height: 100vh;
    
}
footer > p{
    background-color: rgba(0, 0, 0, 0.707);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 1.5vw;
}
footer > p > a{
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
}
p{
    font-size: 3vw;
}
